*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 

}    


/*begin setup*/
body{
    background-color: #e2cabb;
    font-size: 22px;
}

.wrapper{
    width: 900px;
    background-color: #7673739a;
    /*margin-top: 100px;
    margin-left: auto;
    margin-right: auto;*/
    margin: 50px auto 100px;

}
/*размер блока = контент + margin + padding + border*/
.box{
    width: 300px;
    height: 300px;
    display:  inline-block;
    /* margin: 10px; */
    padding: 20px;
    border: 5px solid blue;
}
.box1{
    background-color: #f00;
}
.box2{
    background-color: yellow;
}
.box3{
    background-color: #b3ff00;
}